@media screen and (max-width: 968px) {
  .submain {
    flex-direction: column;
    background-color: white;
    gap: 50px;
  }
  .subcards {
    flex-direction: column;
    margin-left: 20px;
  }
  .card {
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .submaincont {
    padding: 20px;
  }
  .plandevices {
    gap: 10px;
  }
  .active .planname::after {
    content: "";
    position: absolute;
    top: 35%;
    bottom: 40%;
    right: -23%;
    border: 15px solid transparent;
    border-left-color: var(--primarycolour);
  }
  .subdet {
    flex-direction: row;
  }
  .priceheading,
  .qualityheding,
  .resheading,
  .devicehading {
    display: flex;
    align-items: center;
  }
  .plandet {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100px;
    width: 50px;
  }
  .switcherlist {
    flex-direction: column;
    width: 130px;
    margin-left: 20px;
  }
  .line {
    display: none;
  }
  .submaincont {
    overflow-x: hidden;
  }
}
